.play-lesson-container {
  padding-top: 100px;
  position: absolute;
  height: 80%;
  width: 100%;
}

.height-100-relative {
  height: 100%;
}

@media only screen and (max-height: 400px) {
  .play-lesson-container {
    padding-top: 5%;
    height: 100%;
  }
}

.control-wrapper {
  margin: auto;
}

.control-wrapper > div {
  margin: auto;
}

.control-left {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid #b6e6bd;
}
.control-left:hover {
  border-right: 60px solid #4baea0;
  cursor: pointer;
}

.control-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #b6e6bd;
}

.control-right:hover {
  border-left: 60px solid #4baea0;
  cursor: pointer;
}
