.title {
  padding: 1em 0 1em 0;
}

.iconActions {
  padding-right: 1.2em;
}

.optionsIcon {
  background-color: white;
}

.orderButton {
  padding-bottom: 1em;
}

.orderButton:hover {
  cursor: pointer;
}

.orderButton > span {
  padding-right: 1em;
}
