.cardContainer {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  background-color: transparent;
}

.card {
  height: 20em;
  background-color: #c4ebfb;
  text-align: center;
  vertical-align: middle;
  padding: 0.3em;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipContainerCard {
  transition: transform 0.8s;
  transform: rotateY(180deg);
}

.flipCard {
  transition: transform 0.8s;
  transform: rotateY(-180deg);
}

.cardImage {
  max-height: 80%;
}

.cardTextContainer {
  height: 20%;
  background-color: bisque;
  padding-top: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
}
