.container {
  padding: 1em;
}

.callToAction {
  padding-bottom: 1.5em;
}

.optionsWrapper {
  padding: 0 150px;
}

@media only screen and (max-width: 768px) {
  .optionsWrapper {
    padding: 0;
  }
}
