.container {
  border: solid;
  border-radius: 25px;
  width: 200px;
  height: 200px;
  padding: 2em 10px 10px 10px;
  margin-bottom: 50px;
  text-align: center;
}

.container:hover {
  background-color: #00a6ff;
  color: white;
  cursor: pointer;
  transition-duration: 300ms;
}

.container > .icon {
  height: 6em;
  display: block;
  margin: 0em auto 1em auto;
}
