.container {
  border: solid 1px #4baea0;
  margin-bottom: 0.5em;
  padding: 1em 0em 0em 1em;
  border-radius: 25px;
  cursor: pointer;
}

.container:hover {
  background-color: #4baea0;
  color: white;
  cursor: pointer;
  transition-duration: 300ms;
}

.container:hover .icon {
  color: white;
}

.title {
  margin: 0px;
}

.iconWrapper {
}

.icon {
  color: #4baea0;
  font-size: 2em;
  float: right;
}
